[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/c.vim"]
	path = bundle/c.vim
	url = git://github.com/vim-scripts/c.vim.git
        ignore = untracked
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
  ignore = untracked
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
        url = https://github.com/xolox/vim-notes.git
        ignore = untracked
[submodule "bundle/lusty_explorer"]
	path = bundle/lusty_explorer
	url = git://github.com/vim-scripts/LustyExplorer.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
        ignore = untracked
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim-rspec"]
	path = bundle/vim-rspec
	url = git://github.com/skwp/vim-rspec.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = git://github.com/splaice/vim-conque.git
[submodule "bundle/vim-ruby-conque"]
	path = bundle/vim-ruby-conque
	url = git://github.com/skwp/vim-ruby-conque.git
  ignore = untracked
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-ruby-xmpfilter"]
	path = bundle/vim-ruby-xmpfilter
	url = https://github.com/t9md/vim-ruby-xmpfilter.git
[submodule "bundle/vim-ruby-minitet"]
	path = bundle/vim-ruby-minitet
	url = https://github.com/sunaku/vim-ruby-minitest.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "vim-go"]
	path = vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
